.App {
  text-align: center;
}


body { 
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");

}
  span{
    color:rgb(214, 213, 213);
  }